/*导航*/
.header .container .nav .move-wire {
  width: 0;
}
/*banner*/
.banner {
  width: 100%;
  height: 480px;
  background: url("../images/case-banner.jpg") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.banner .container {
  color: #fff;
}
.banner .container h2 {
  width: 240px;
  height: 84px;
  line-height: 84px;
  padding: 232px 0 0 886px;
  font-size: 50px;
  font-weight: normal;
}
/*案例*/
.case {
  width: 100%;
}
.case .container .content {
  width: 850px;
  margin: 0 auto;
}
.case .container .content h3 {
  padding: 52px 0 44px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.case .container .content .case-bg {
  width: 850px;
  height: 200px;
  margin-bottom: 42px;
}
.case .container .content .article {
  margin-bottom: 74px;
}
.case .container .content .article p {
  font-size: 16px;
  color: #151515;
  line-height: 28px;
}
.case .container .content .article p span {
  color: #333;
  font-weight: bold;
}
.case .container .content .article table {
  width: 840px;
  margin: 20px 10px;
  font-size: 18px;
}
.case .container .content .article table th,
.case .container .content .article table td {
  padding: 10px;
}
.case .container .content .article .img {
  margin: 24px 0;
}
.case .container .content .article .img div {
  margin: 0 auto;
  height: 500px;
  width: 281px;
}
.case .container #company1 .case-bg {
  background: url("../images/case1-bg.jpg") no-repeat;
}
.case .container #company1 .article .img1 {
  display: none;
}
.case .container #company1 .article .img2 div {
  background: url("../images/case1-s1.jpg") no-repeat;
}
.case .container #company1 .article .img3 div {
  background: url("../images/case1-s2.jpg") no-repeat;
}
.case .container #company2 .case-bg {
  background: url("../images/case2-bg.jpg") no-repeat;
}
.case .container #company2 .article .img {
  width: 731px;
  margin: 24px auto;
}
.case .container #company2 .article .img div {
  float: left;
  width: 237px;
}
.case .container #company2 .article .img1 div:first-child {
  background: url("../images/case2-s1.jpg") no-repeat;
}
.case .container #company2 .article .img1 div:nth-child(2) {
  margin: 0 10px;
  background: url("../images/case2-s2.jpg") no-repeat;
}
.case .container #company2 .article .img1 div:last-child {
  background: url("../images/case2-s3.jpg") no-repeat;
}
.case .container #company2 .article .img2 div:first-child {
  background: url("../images/case2-s4.jpg") no-repeat;
}
.case .container #company2 .article .img2 div:nth-child(2) {
  margin: 0 10px;
  background: url("../images/case2-s5.jpg") no-repeat;
}
.case .container #company2 .article .img2 div:last-child {
  background: url("../images/case2-s6.jpg") no-repeat;
}
.case .container #company2 .article .img3 {
  width: 484px;
  margin: 24px auto;
}
.case .container #company2 .article .img3 div:first-child {
  margin-right: 10px;
  background: url("../images/case2-s7.jpg") no-repeat;
}
.case .container #company2 .article .img3 div:last-child {
  background: url("../images/case2-s8.jpg") no-repeat;
}
.case .container #gov .case-bg {
  background: url("../images/case3-bg.jpg") no-repeat;
}
.case .container #gov .article .img {
  width: 628px;
  margin: 24px auto;
}
.case .container #gov .article .img div {
  float: left;
}
.case .container #gov .article .img1 div:first-child {
  width: 236px;
  margin-right: 10px;
  background: url("../images/case3-s1.jpg") no-repeat;
}
.case .container #gov .article .img1 div:last-child {
  width: 382px;
  background: url("../images/case3-s2.jpg") no-repeat;
}
.case .container #gov .article .img2 {
  width: 484px;
}
.case .container #gov .article .img2 div {
  width: 237px;
}
.case .container #gov .article .img2 div:first-child {
  margin-right: 10px;
  background: url("../images/case3-s3.jpg") no-repeat;
}
.case .container #gov .article .img2 div:last-child {
  background: url("../images/case3-s4.jpg") no-repeat;
}
.case .container #gov .article ul {
  margin-top: 20px;
}
.case .container #gov .article ul li {
  float: left;
  padding: 14px;
  border: 2px solid #000;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
.case .container #gov .article ul li:first-child {
  margin: 0 80px 0 52px;
}
.case .container #gov .article ul li:nth-child(2) {
  margin-right: 60px;
}
.case .container #gov .article .img3 {
  width: 808px;
}
.case .container #gov .article .img3 div:first-child {
  width: 281px;
  background: url("../images/case3-s5.jpg") no-repeat;
}
.case .container #gov .article .img3 div:nth-child(2) {
  width: 237px;
  margin: 0 10px;
  background: url("../images/case3-s6.jpg") no-repeat;
}
.case .container #gov .article .img3 div:last-child {
  width: 270px;
  background: url("../images/case3-s7.jpg") no-repeat;
}
.case .container #party1 .case-bg {
  background: url("../images/case4-bg.jpg") no-repeat;
}
.case .container #party1 .article .img div {
  height: 0;
}
.case .container #party2 .case-bg {
  background: url("../images/case5-bg.jpg") no-repeat;
}
.case .container #party2 .article .img {
  margin: 24px auto;
}
.case .container #party2 .article .img div {
  float: left;
}
.case .container #party2 .article .img1 {
  width: 542px;
}
.case .container #party2 .article .img1 div:first-child {
  width: 249px;
  margin-right: 10px;
  background: url("../images/case5-s1.jpg") no-repeat;
}
.case .container #party2 .article .img1 div:last-child {
  width: 283px;
  background: url("../images/case5-s2.jpg") no-repeat;
}
.case .container #party2 .article .img2 {
  width: 285px;
}
.case .container #party2 .article .img2 div {
  background: url("../images/case5-s3.jpg") no-repeat;
}
.case .container #party2 .article .img3 div {
  height: 0;
}
.case .container #family .case-bg {
  background: url("../images/case6-bg.jpg") no-repeat;
}
.case .container #family .article .img {
  margin: 24px auto;
}
.case .container #family .article .img div {
  float: left;
}
.case .container #family .article .img1 {
  width: 237px;
}
.case .container #family .article .img1 div {
  background: url("../images/case6-s1.jpg") no-repeat;
}
.case .container #family .article .img2 {
  width: 722px;
}
.case .container #family .article .img2 div:first-child {
  width: 237px;
  background: url("../images/case6-s2.jpg") no-repeat;
}
.case .container #family .article .img2 div:nth-child(2) {
  width: 230px;
  margin: 0 10px;
  background: url("../images/case6-s3.jpg") no-repeat;
}
.case .container #family .article .img2 div:last-child {
  width: 235px;
  background: url("../images/case6-s4.jpg") no-repeat;
}
.case .container #family .article .img3 {
  width: 863px;
}
.case .container #family .article .img3 div {
  width: 281px;
}
.case .container #family .article .img3 div:first-child {
  background: url("../images/case6-s5.jpg") no-repeat;
}
.case .container #family .article .img3 div:nth-child(2) {
  margin: 0 10px;
  background: url("../images/case6-s6.jpg") no-repeat;
}
.case .container #family .article .img3 div:last-child {
  background: url("../images/case6-s7.jpg") no-repeat;
}
